<%= render 'admin/companies/sidebar', company: @company %>
<div class="col-sm-9">
    <div class="scout-form">
        <%= form_tag admin_scouts_search_path, method: :get do %>
            <%= text_field_tag :search, '', :placeholder => '検索', class: "form-control" %>
            <%= button_tag type: 'submit', :body => nil do %>
                    <i class="fas fa-search"></i>
            <% end %>
        <% end %>
    </div>

    <% if params[:search] && @candidates.count > 0 %>
        <p class="candidate-result"><strong><%= @candidates.count %></strong>人の候補者</p>
            <% @candidates.each do |candidate| %>
                <div class="candidate-cell">
                    <%= attachment_image_tag candidate, :image, size: "50x50" %>
                    <div class="candidate-title">
                        <h3><%= candidate.name %></h3>
                        <p><%= candidate.work_experience %></p>
                    </div>
                    <div class="candidate-info">
                        <h4>学歴</h4>
                        <p><%= candidate.educational_background %></p>
                        <h4>自己紹介</h4>
                        <p><%= strip_tags(candidate.introduction.to_s).gsub(/[\n]/,"").strip.truncate(50) %></p>
                    </div>
                    <div class="scout-link">
                        <%= link_to 'スカウトを送る', admin_scouts_path(candidate), method: :post, data: { confirm: "この人にスカウトを送りますか？" }, class: "btn btn-info" %>
                    </div> 
                </div>
            <% end %>
    <% end %>
</div>

