<%= render 'companies/header', company: @company, headquarters: @headquarters %>
<div class="feed-container">
	<% @feeds.each do |feed| %>
		<div class="feed-cell">
			<div class="feed-company">
				<%= link_to company_path(@company) do %>
					<%= attachment_image_tag @company, :logo, size: '40x40' %>
					<p><%= @company.company_name %></p>
				<% end %>
				<div class="follow_btn_<%= @company.id %> follow-btn">
					<%= render 'companies/follow_form', company: feed.company, follow: @follow %>
				</div>
			</div>
		<%= link_to feed_path(feed) do %>
			<div class="feed-img">
				<%= attachment_image_tag feed, :image, size: "600x180" %>
			</div>
			<div class="feed-content">	
				<h3><%= feed.title %></h3>
				<p><%= strip_tags(feed.body.to_s).gsub(/[\n]/,"").strip.truncate(120) %></p>
			</div>
		<% end %>
			<div id="favorite_btn_<%= feed.id %>" class="fav-container">
				<%= render 'favorite_form', feed: feed, favorite: @favorite %>
			</div>
		</div>
		
	<% end %>
</div>

