<div class="nested-fields">
	<h3><strong>住所</strong></h3>
	<%= link_to_remove_association "この住所を削除", f, class: "btn btn-danger" %>
	<section class="form-group clearfix">
		<%= f.label :郵便番号, class: "col-sm-4" %>
		<div class="col-sm-8">
			<%= f.text_field :postal_code, class: "form-control" %><br>		
		</div>
	</section>
	<section class="form-group clearfix">
		<%= f.label :都道府県, class: "col-sm-4" %>
		<div class="col-sm-8">
			<%= f.text_field :prefecture, class: "form-control" %><br>
		</div>
	</section>
	<section class="form-group clearfix">
		<%= f.label :住所, class: "col-sm-4" %>
		<div class="col-sm-8">
			<%= f.text_field :address, class: "form-control" %><br>
		</div>
	</section>
	<section class="form-group clearfix">
		<%= f.label :本社ステータス, class: "col-sm-4" %>
		<div class="col-sm-8">
			<%= f.radio_button :head_status, :head, class: "form-check-input" %>
			<%= f.label :head_status, "本社" %>
			<%= f.radio_button :head_status, :branch, class: "form-check-input" %>
			<%= f.label :head_status, "支社" %>	
		</div>
		
	</section>
	
</div>