<div>
	<ul>
		<li><%= link_to 'ホーム', admin_path(company) %></li>
		<li><%= link_to '募集', admin_company_recruits_path(company) %></li>
		<li><%= link_to 'フィード', admin_company_feeds_path(company) %></li>
		<li><%= link_to '候補者', admin_company_candidates_path(company) %></li>
		<li><%= link_to 'メッセージ', '#' %></li>
	</ul>
</div>