<%= render 'sidebar', company: @company %>
<div class="col-sm-7">
    <%= form_with url: admin_invite_path, method: :get do |f| %>
        <section class="form-group">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email %>
        </section>
        <section class="form-group">
            <%= f.submit '招待する', class: "btn btn-primary" %>
        </section> 
    <% end %>
</div>
