<%= render 'admin/companies/sidebar', company: @company %>
<div class="col-sm-7">
	<%= form_with model: @feed, url: admin_company_feed_path do |f| %>
		<section class="form-group">
			<%= f.label :タイトル %>
			<%= f.text_field :title %>
		</section>
		<section class="form-group">
			<%= f.label :画像 %>
			<%= f.attachment_field :image %>
		</section>
		<section class="form-group">
			<%= f.label :本文 %>
			<%= f.text_area :body %>
		</section>
		<section class="form-group">
			<%= f.submit '更新', class: "btn btn-success" %>
		</section>
	<% end %>
</div>