<%= form_with model: @user, url: user_path do |f| %>
	<section>
		<%= f.label :写真を変更 %>
		<%= f.attachment_field :image %>
	</section>
	<section>
		<%= f.label :電話番号 %>
		<%= f.text_field :phone_number %>
	</section>
	<section>
		<%= f.label :学歴 %>
		<%= f.text_field :educational_background %>
	</section>
	<section>
		<%= f.label :職歴 %>
		<%= f.text_field :work_experience %>
	</section>
	<section>
		<%= f.label :紹介文 %>
		 <%= f.text_area :introduction %>
	</section>
	<section>
		<%= f.submit '更新' %>
	</section>
<% end %>