<div class="user-show-container">
	<div class="user-header">
		<%= attachment_image_tag @user, :image, size: "120x120" %>
		<div class="user-detail">
			<h3><%= @user.name %></h3>
			<div>
				<% unless @user.company_id == nil %>
					<span><i class="far fa-building"></i><%= @user.company.company_name %></span>
				<% end %>
					<span><i class="far fa-clock"></i><%= @user.created_at.strftime('%Y/%m/%d') %>に登録</span>
			</div>
		</div>
		
	</div>
	<div class="user-content">
		<section>
			<h3>紹介文</h3>
			<p><%= @user.introduction %></p>
		</section>
		<section>
			<h3>学歴</h3>
			<p><%= @user.educational_background %></p>
		</section>
		<section>
			<h3>職歴</h3>
			<p><%= @user.work_experience %></p>
		</section>
	</div>
</div>
