<%= render 'admin/companies/sidebar', company: @company %>
<div>
	<span><%= link_to '編集', edit_admin_company_recruit_path(@company, @recruit), class: "btn btn-info" %></span>
	<span><%= link_to '削除', admin_company_recruit_path(@company, @recruit),method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %></span>
	<span><%= @recruit.employment_status_i18n %></span>
	<span><%= @recruit.job_description %></span>
	<h2><%= @recruit.title %></h2>
	<h3><%= @company.company_name %></h3>
	<div><%= attachment_image_tag @recruit, :image, size: '900x350' %></div>
	<div>
		<h3><%= @company.company_name %>のメンバー</h3>
		<ul>
			<% @members.each do |member| %>
				<li><%= attachment_image_tag member, :image, size: '150x150' %></li>
				<h4><%= member.name %></h4>
			<% end %>
		</ul>
	</div>
	<section>
		<h3>なにをやっているのか</h3>
		<p><%= @company.what %></p>
	</section>
	<section>
		<h3>なぜやるのか</h3>
		<p><%= @company.why %></p>
	</section>
	<section>
		<h3>どうやってやるのか</h3>
		<p><%= @company.how %></p>
	</section>
	<section>
		<h3>こんなことやります</h3>
		<p><%= @recruit.do %></p>
	</section>
</div>