<%= render 'header', company: @company, headquarters: @headquarters %>
<div class="show-container">
	<section>
		<h2><%= @company.mission_title %></h2>
		<p><%= @company.mission_body %></p>
	</section>
	<section>
		<h2>価値観</h2>
		<p><%= @company.value %></p>
	</section>
	<div class="recruit-member">
		<h3>メンバー</h3>
		<ul>
			<% @company.users.each do |member| %>
				<%= link_to user_path(member) do %>
					<li>
						<%= attachment_image_tag member, :image, fallback: "no_image.jpg", size: '130x130' %>
						<h4><%= member.name %></h4>
					</li>		
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="footer-company-info">
		<div>
			<%= attachment_image_tag @company, :logo, size: '50x50' %>
			<h3><%= @company.company_name %></h3>
		</div>
	<% if @headquarters %>
		<li><i class="fas fa-map-marker-alt"></i><%= @headquarters.prefecture %><%= @headquarters.address %></li>
	<% end %>
		<li><i class="fas fa-link"></i><a href="<%= @company.link %>"><%= @company.link %></a></li>
		<li><i class="fas fa-flag"></i><%= @company.created_at.strftime('%Y/%m') %>に設立</li>
		<li><i class="fas fa-user"></i><%= @company.person_name %>が創業</li>
		<li><i class="fas fa-users"></i><%= @company.users.count %>人のメンバー</li>
	</div>
	<div id="map"></div>
</div>

<script>
function initMap() {
	var test = { lat: <%= @headquarters.latitude %>, lng: <%=@headquarters.longitude%> }
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 15,
		center: test
	});
	var transitLayer = new google.maps.TransitLayer()
	transitLayer.setMap(map)

	var contentString = "#{@headquaters.address}"
	var infowindow = new google.maps.InfoWindow({
		content: contentString
	})

	var marker = new google.maps.Marker({
		position: test,
		map: map,
		title: contentString
	})

	marker.addListener('click', function() {
		infowindow.open(map, marker)
	})
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GEOCODING_API_KEY'] %>&callback=initMap" async defer></script>