<div class="follow-container">
	<h2>フォローしている会社</h2>
	<% @follows.each do |follow| %>
	<% company = follow.company %>
		<div class="follow-cell">
			<%= attachment_image_tag company, :logo, size: '80x80' %>
			<div class="follow-company-content">
				<div class="follow-company-info">
					<h3><%= link_to company.company_name, company_path(company) %></h3>
					<p><%= strip_tags(company.mission_body.to_s).gsub(/[\n]/,"").strip.truncate(120) %></p>
				</div>	
				<div class="follow_btn_<%= company.id %> follow-btn">
					<%= render 'companies/follow_form', company: company, follow: @follow %>
				</div>
			</div>
			
		</div>
	<% end %>
</div>