<div>
    <h2>検索</h2>
    <ul>
        <li><%= link_to 'すべて', search_path %></li>
        <li><%= link_to '会社', search_path, :company => 'company' %></li>
        <li><%= link_to 'プロフィール', search_path, :user => 'user' %></li>
        <li><%= link_to '募集', search_path, :recruit => 'recruit' %></li>
    </ul>
</div>
<div>
    <% if params[:company] %>
        <div>
            <h2>会社</h2>
            <% @companies.each do |company| %>
                <%= link_to company_path(company) do %>
                    <div>
                        <h3><%= company.company_name %></h3>
                        <p><%= company.link %></p>
                        <p><%= company.mission_body %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% elsif params[:user] %>
        <div>
            <h2>プロフィール</h2>
            <% @users.each do |user| %>
                <%= link_to user_path(user) do %>
                    <div>
                        <h3><%= user.name %></h3>
                        <% unless user.company_id == nil %>
                            <p><%= user.company.company_name %></p>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% elsif params[:recruit] %>
        <div>
            <h2>募集</h2>
            <% @recruits.each do |recruit| %>
                <%= link_to recruit_path(recruit) do %>
                    <div>
                        <%= attachment_image_tag recruit, :image, size: '500x20' %>
                        <span><%= recruit.occupation %></span>
                        <h3><%= recruit.title %></h3>
                        <p><%= recruit.do %></p>
                    </div>
                <% end %>
                <%= link_to company_path(recruit.company) do %>
                    <div>
                        <%= attachment_image_tag recruit.company, :logo, size: '50x50' %>
                        <%= link_to recruit.company.company_name, company_path(recruit.company) %>
                        #本社のある住所を取得
                        <% if address = recruit.company.addresses.find_by(head_status: 1) %>
                            <p><%= address.prefecture %></p>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% elsif params[:search_word] || params[:occupation] || params[:employment_status] || params[:feature_id] %>
        <div>
            <% @recruits.each do |recruit| %>
                <div>
                    <%= link_to recruit_path(recruit) do %>
                        <div><%= attachment_image_tag recruit, :image, size: '550x200' %></div>
                        <span><%= recruit.job_description %></span>
                        <h2><%= recruit.title %></h2>
                        <p><%= strip_tags(recruit.do.to_s).gsub(/[\n]/,"").strip.truncate(120) %></p>
                    <% end %>
                </div>
                <div>
                    <%= link_to company_path(recruit.company) do %>
                        <%= attachment_image_tag recruit.company, :logo, size: '50x50' %>
                        <%= recruit.company.company_name %>
                    <% end %>
                    <div id="bookmark_btn">
                        <%= render 'bookmark_form', recruit: recruit %>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <div>
            <h2>募集</h2>
            <% @recruits.each do |recruit| %>
                <%= link_to recruit_path(recruit) do %>
                    <div>
                        <span><%= recruit.occupation %></span>
                        <h3><%= recruit.title %></h3>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div>
            <h2>会社</h2>
            <% @companies.each do |company| %>
                <%= link_to company_path(company) do %>
                    <div>
                        <h3><%= company.company_name %></h3>
                        <p><%= company.link %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
        <div>
            <h2>プロフィール</h2>
            <% @users.each do |user| %>
                <%= link_to user_path(user) do %>         
                    <div>
                        <h3><%= user.name %></h3>
                        <% unless user.company_id == nil %>
                            <p><%= user.company.company_name %></p>
                        <% end %>
                    </div> 
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>
