<div class="col-sm-4">
    <div class="search-container">
        <h3>検索</h3>
        <ul>
            <li>
                <%= link_to search_path do %>
                    <i class="fas fa-th"></i><span>すべて</span>
                <% end %>
            </li>
            <li>
                <%= link_to search_path(id: 2) do %>
                    <i class="far fa-building"></i><span>会社</span>
                <% end %>
            </li>
            <li>
                <%= link_to search_path(id: 3) do %>
                    <i class="fas fa-user-alt"></i><span>プロフィール</span>
                <% end %>
            </li>
            <li>
                <%= link_to search_path(id: 1) do %>
                    <i class="fas fa-briefcase"></i><span>募集</span>
                <% end %>
            </li>
        </ul>
    </div>  
    
</div>
<div class="col-sm-8">
    <% if params[:id] == "2" %>
        <div class="result-container">
            <h3>会社</h3>
            <% @companies.sample(5).each do |company| %>
                <%= link_to company_path(company) do %>
                    <div class="result-body">
                        <%= attachment_image_tag company, :logo, size: "80x80" %>
                        <div class="result-content">
                            <h4><%= company.company_name %></h4>
                            <p><%= company.link %></p>
                            <p><%= company.mission_body %></p>
                        </div>
                    </div>                 
                <% end %>
            <% end %>
        </div>
        
    <% elsif params[:id] == "3" %>
        <div class="result-container">
            <h3>プロフィール</h3>
            <% @users.sample(5).each do |user| %>
                <%= link_to user_path(user) do %> 
                    <div class="result-body">
                        <%= attachment_image_tag user, :image, fallback: "no_image.jpg", size: "80x80" %>        
                        <div class="result-content">
                            <h4><%= user.name %></h4>
                            <% unless user.company_id == nil %>
                                <p><%= user.company.company_name %></p>
                            <% end %>
                        </div> 
                    </div>                    
                <% end %>
            <% end %>
        </div>
    <% elsif params[:id] == "1" %>
        <div class="result-container">
            <h3>募集</h3>
            <% @recruits.sample(1).each do |recruit| %>
                <%= link_to recruit_path(recruit) do %>
                    <div class="result-body">
                        <%= attachment_image_tag recruit, :image, size: "80x80" %>
                        <div class="result-content">
                            <span><%= recruit.occupation_i18n %></span>
                            <h4><%= recruit.title %></h4>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% elsif params[:recruit] %>
        <div class="result-container">
            <% @recruits.each do |recruit| %>
                <div class="link-container">
                    <%= link_to recruit_path(recruit) do %>
                        <%= attachment_image_tag recruit, :image %>
                            <div class="recruit-content">
                                <div class="recruit-tags">
                                    <span><%= recruit.job_description %></span>
                                    <span><%= recruit.entries.count %>エントリー</span>
                                </div>
                                <h2><%= recruit.title %></h2>
                                <p><%= strip_tags(recruit.do.to_s).gsub(/[\n]/,"").strip.truncate(120) %></p>
                            </div>
                    <% end %>
                </div>
                <div class="company-info">
                    <%= link_to company_path(recruit.company) do %>
                        <%= attachment_image_tag recruit.company, :logo, size: '50x50' %>
                        <p><%= recruit.company.company_name %></p>
                    <% end %>
                    <div id="bookmark_btn" class="bookmark-link">
                        <%= render 'bookmark_form', recruit: recruit %>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <div class="result-container">
            <div class="sort-bar">
                <% if params[:searchword].present? %>
                    <strong><%= params[:search] %></strong>
                    で検索、
                <% end %>
                <strong><%= @recruits.size + @companies.size + @users.size %></strong>
                件見つかりました
            </div>
            <h3>募集</h3>
            <% @recruits.sample(1).each do |recruit| %>
                <%= link_to recruit_path(recruit) do %>
                    <div class="result-body">
                        <%= attachment_image_tag recruit, :image, size: "80x80" %>
                        <div class="result-content">
                            <span><%= recruit.occupation_i18n %></span>
                            <h4><%= recruit.title %></h4>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <% if @recruits.size > 1 %>
                <div class="more"><%= link_to 'もっとみる', search_path(id: 1) %></div>
            <% end %>
        </div>
        <div class="result-container">
            <h3>会社</h3>
            <% @companies.sample(5).each do |company| %>
                <%= link_to company_path(company) do %>
                    <div class="result-body">
                        <%= attachment_image_tag company, :logo, size: "80x80" %>
                        <div class="result-content">
                            <h4><%= company.company_name %></h4>
                            <p><%= company.link %></p>
                            <p><%= company.mission_body %></p>
                        </div>
                    </div>                 
                <% end %>
            <% end %>
            <% if @companies.size > 1 %>
                <div class="more"><%= link_to 'もっとみる', search_path(id: 2) %></div>
            <% end %>
        </div>
        <div class="result-container">
            <h3>プロフィール</h3>
            <% @users.sample(5).each do |user| %>
                <%= link_to user_path(user) do %> 
                    <div class="result-body">
                        <%= attachment_image_tag user, :image, fallback: "no_image.jpg", size: "80x80" %>        
                        <div class="result-content">
                            <h4><%= user.name %></h4>
                            <% unless user.company_id == nil %>
                                <p><%= user.company.company_name %></p>
                            <% end %>
                        </div> 
                    </div>                    
                <% end %>
            <% end %>
            <% if @users.size > 1 %>
                <div class="more"><%= link_to 'もっとみる', search_path(id: 3) %></div>
            <% end %>
        </div>
    <% end %>
</div>
