<div>
	<span><%= @recruit.employment_status_i18n %></span>
	<span><%= @recruit.job_description %></span>
	<h2><%= @recruit.title %></h2>

	<h3>
		<%= attachment_image_tag @company, :logo, size: '40x40' %>
		<%= @company.company_name %>
	</h3>
	<div>
		<%= attachment_image_tag @recruit, :image, size: '900x350' %>
	</div>
	<div>
		<%= link_to '話を聞きに行きたい', recruit_entries_path(@recruit), method: :post %>
	</div>
	<div id="bookmark_btn_<%= @recruit.id %>">
		<%= render 'bookmark_form', recruit: @recruit, bookmark: @bookmark %>
	</div>
	<div>
		<% if current_user.supports.find_by(recruit_id: @recruit.id) %>
			応援済み
		<% else %>
			<%= link_to '応援する', recruit_supports_path(@recruit), method: :post, data: { confirm: " この募集をTwitterで応援しますか？" } %>
		<% end %>
	</div>
	<div>
		<h3><%= @company.company_name %>のメンバー</h3>
		<ul>
			<% @company.users.each do |member| %>
				<li><%= attachment_image_tag member, :image, size: '150x150' %></li>
				<h4><%= member.name %></h4>
			<% end %>
		</ul>
	</div>
	<section>
		<h3>なにをやっているのか</h3>
		<p><%= @company.what %></p>
	</section>
	<section>
		<h3>なぜやるのか</h3>
		<p><%= @company.why %></p>
	</section>
	<section>
		<h3>どうやってやるのか</h3>
		<p><%= @company.how %></p>
	</section>
	<section>
		<h3>こんなことやります</h3>
		<p><%= @recruit.do %></p>
	</section>
</div>