<%= render 'admin/companies/sidebar', company: @company %>
<div class="col-sm-9">
    <div class="message-title">
        <%= attachment_image_tag @candidate, :image, fallback: "no_image.jpg", size: "45x45" %>
        <div class="message-user-name">
            <strong><%= @candidate.name %></strong>
        </div>
    </div>
    <div class="message-box">
        <% @messages.each do |m| %>
            <% if m.is_user %>
                <div class="left-message">
                    <%= link_to user_path(@candidate) do %>
                        <%= attachment_image_tag @candidate, :image, size: "40x40" %>
                    <% end %>
                    <div class="left-content col-sm-8">
                        <p><%= m.content %></p>
                    </div>
                </div>
            <% else %>
                <div class="right-message">
                    <div class="right-content col-sm-8">
                        <p><%= m.content %></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="message-form">
        <%= form_with model: [@room, @message], url: messages_path(@room) do |f| %>
            <%= f.text_area :content, class: "form-control" %>
            <%= f.submit '返信する', class: "btn btn-success" %>
        <% end %>
    </div>
</div>
